# Run manually to reformat a file:
# clang-format -i --style=file <file>
---
# We'll use defaults from the LLVM style
BasedOnStyle:  LLVM

ColumnLimit:     80
# 4 columns indentation.
IndentWidth:     4

# Not tabs and every tab width is 4 spaces
TabWidth:        4
UseTab:          Never

# Indent width for line continuations.
ContinuationIndentWidth: 4

# The number of characters to use for indentation of constructor initializer 
# lists as well as inheritance lists.
ConstructorInitializerIndentWidth: 4
...

